#cloud-config
hostname: {{ workshop_prefix }}.proxy.{{ domain_name }}
fqdn: {{ workshop_prefix }}.proxy.{{ domain_name }}
runcmd:
- systemctl enable --now cockpit.socket
- echo "{{ workshop_password }}" | passwd --stdin cloud-user