#cloud-config
hostname: {{ workshop_prefix }}.proxy.{{ domain_name }}
fqdn: {{ workshop_prefix }}.proxy.{{ domain_name }}
runcmd:
- systemctl enable --now cockpit.socket
- echo "{{ workshop_password }}" | passwd --stdin cloud-user
- nmcli con mod "System eth0" ipv4.dns "8.8.8.8 8.8.4.4"
- systemctl restart NetworkManager
- dnf remove rh-amazon-rhui-client
- subscription-manager register --username={{ username }} --password={{ password }} 
- subscription-manager attach --pool={{ pool_id }}
- subscription-manager repos --disable "*"
- subscription-manager repos --enable="rhel-8-for-x86_64-baseos-rpms" --enable="rhel-8-for-x86_64-appstream-rpms" --enable="jb-eap-7.2-for-rhel-8-x86_64-rpms"